# Core functionality - changes here should be rare!
/src/app.py                   @AmaramSreekarReddy
/src/backend/database.py      @AmaramSreekarReddy
/src/backend/routers/auth.py  @AmaramSreekarReddy

# The frontend will need refactored soon to be more object oriented.
/src/static/   @AmaramSreekarReddy
